:root {
  --skin-color-001: #F49966;
  --skin-color-002: #E29867;
  --skin-color-003: #F59370;
  --skin-color-004: #F99463;
  --skin-color-005: #EE9569;
}

.tattoo-area {
  background: var(--skin-color-005);
  color: #000000;
  font-size: 16px;
  font-weight: bold;
  padding: 2rem;
  width: calc(66px * 8); /* N characters long */
  margin: 4rem auto;
}

.tattoo-area-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: space-around;
}

.character-wrapper {
  width: 66px;
  height: 66px;
}

.character-item {
  text-align: center;
  text-transform: uppercase;
}
